<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AutomatizacionEntities" connectionString="metadata=res://*/AutomatizacionBD.csdl|res://*/AutomatizacionBD.ssdl|res://*/AutomatizacionBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-IVG4RRHV\SQLEXPRESS;initial catalog=automatizacion_canchas;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>